<!DOCTYPE html>
<html>
<title>Merchandise</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
<body>
<img src='texturee.jpg' style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>


<!-- Sidebar (hidden by default) -->
<nav class="w3-sidebar w3-bar-block w3-card-2 w3-top w3-xlarge w3-animate-left" style="display:none;z-index:2;width:40%;min-width:300px" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()"
  class="w3-bar-item w3-button">Close Menu</a>
  <a href="#food" onclick="w3_close()" class="w3-bar-item w3-button">Food</a>
  <a href="#about" onclick="w3_close()" class="w3-bar-item w3-button">About</a>
</nav>

<!-- Top menu -->
<div class="w3-top">
  <div class="w3-white w3-xlarge" style="max-width:1200px;margin:auto">

    <a href="file:///D:/html/lab%20rat/WagakkiBand.html#"onclick="w3_close()" class="w3-bar-item w3-button">Home</a>
    <div class="w3-center w3-padding-16">Merchandise</div>
  </div>
</div>
  
<!-- !PAGE CONTENT! -->
<div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<p>JTB presents Nikko Toshogu Shrine 400th Anniversary Special Concert</p>

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="Merchandise">
    <div class="w3-quarter">
      <img src="shirt.jpg" alt="T-Shirt" style="width:100%">
      <h3>T-shirts(Size: S / M / L / XL </h3>
      <p>3.300yen(tax.included)</p>
    </div>
    <div class="w3-quarter">
      <img src="hpcase.jpg" alt="Croissant" style="width:100%">
      <h3>SmartPhone Protection</h3>
      <p>3.000yen(tax included)</p>
    </div>
    <div class="w3-quarter">
      <img src="jtb1.jpg" alt="JTB T-Shirts" style="width:100%">
      <h3>JTB T-Shirts</h3>
      <p>3.000yen(tax incuded).</p>
    </div>
    <div class="w3-quarter">
      <img src="wagakk.jpg" alt="Poster" style="width:100%">
      <h3>Poster</h3>
      <p>1000yen(tax included)</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="Button.jpg" alt="Button" style="width:100%">
      <h3>Button</h3>
      <p>500yen(tax included)</p>
    </div>
    <div class="w3-quarter">
      <img src="chain key.jpg" alt="Salmon" style="width:100%">
      <h3>Key Holder</h3>
      <p>350yen(tax included).</p>
    </div>
    <div class="w3-quarter">
      <img src="photoalbum.jpg" alt="Photo" style="width:100%">
      <h3>Photo Album</h3>
      <p>2000yen(tax included)</p>
    </div>
   <div class="w3-quarter">
      <img src="02.jpg" alt="Artist Photo Set" style="width:100%">
      <h3>Artist Photo Set</h3>
      <p>1.000yen(tax incuded).</p>
    </div>  </div>

 
  
  <div class="w3-main w3-content w3-padding" style="max-width:1200px;margin-top:100px">
<p>WagakkiBand JAPAN TOUR 2016 "Kenran Wasou Enbukai(Gorgeous Japanese Harmony&Dance Party)

"</p>

  <!-- First Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center" id="Merchandise">
    <div class="w3-quarter">
      <img src="1.jpg" alt="Senbon T-shirt" style="width:100%">
      <h3>Senbon T-shirts(Size: S / M / L / XL </h3>
      <p>3.000yen(tax.included)</p>
    </div>
    <div class="w3-quarter">
      <img src="2.jpg" alt="Sakura T-shirt" style="width:100%">
      <h3>Sakura T-Shirt</h3>
      <p>3.000yen(tax included)</p>
    </div>
    <div class="w3-quarter">
      <img src="3.jpg" alt="Folding fan" style="width:100%">
      <h3>Folding Fan</h3>
      <p>1.000yen(tax incuded).</p>
    </div>
    <div class="w3-quarter">
      <img src="4.jpg" alt="MufflerTowel " style="width:100%">
      <h3>"Kenran Wasou Enbukai" Muffler Towel. "</h3>
      <p>1.500yen(tax included)</p>
    </div>
  </div>
  
  <!-- Second Photo Grid-->
  <div class="w3-row-padding w3-padding-16 w3-center">
    <div class="w3-quarter">
      <img src="5.jpg" alt="LightningStick" style="width:100%">
      <h3"Kenran Wasou Enbukai" Lighting Stick. "</h3>
      <p>2.500yen(tax included)</p>

      
    </div>
  </div>
  
  

    <div class="w3-third w3-serif">
      <h3>POPULAR TAGS</h3>
      <p>
        <span class="w3-tag w3-black w3-margin-bottom">Travel</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">KeyChain</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Shopping</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">T-Shirt</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">FoldingFan</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Poster</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">PhotoAlbum</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Stick</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Towel</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">Button</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">PhotoSet</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">WagakkiBand</span>
        <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">YukoSuzuhana</span> <span class="w3-tag w3-dark-grey w3-small w3-margin-bottom">NinagawaBeni</span>
      </p>
    </div>
  </footer>

<!-- End page content -->
</div>

<script>
// Script to open and close sidebar
function w3_open() {
    document.getElementById("mySidebar").style.display = "block";
}
 
function w3_close() {
    document.getElementById("mySidebar").style.display = "none";
}
</script>

</body>
</html>
